<div>

    <h1>Register Page</h1>

    <p>Çocukların hayal dünyasının genişlemesine katkıda bulunur. Çocukların bilişsel ve duygusal becerilerinin gelişimini destekler.
        Okuma ve yazmaya olan ilgilerini artırır. Masalları dinleyerek olayların takibini yapma konusunda gelişebilir ve anlatılan konulara odaklanarak içerisinde kendisine ait bir şeyler bulabilir.
        </p>
</div>